service firebase.storage {
  match /b/{bucket}/o {
    match /{yyyyMMdd}/{roomId}/{uId}/{file} {
      allow read: if this.auth != null
                      && uId != null
      allow write: if this.auth != null
                      && uId != null
                      && (request.resource.contentType.matches('image/.*') || file.matches(".*.zip"))
                      && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
