$moyo_green_1: #4fdbc2;
$moyo_green_2: #49ccb4;
$moyo_green_3: #45bfa9;
$moyo_green_4: #2e8071;
$moyo_green_5: #174038;

$moyo_biscay_1: #4ac8d9;
$moyo_biscay_2: #44bac9;
$moyo_biscay_3: #40aebd;
$moyo_biscay_4: #2a737d;
$moyo_biscay_5: #15383d;

$moyo_blue_1: #43b2f7;
$moyo_blue_2: #3fa7e8;
$moyo_blue_3: #3b9edb;
$moyo_blue_4: #2a709c;
$moyo_blue_5: #19425c;

$moyo_navy_1: #325fe6;
$moyo_navy_2: #284bb5;
$moyo_navy_3: #214099;
$moyo_navy_4: #1e3b8d;
$moyo_navy_5: #142559;

$moyo_violet_1: #7369ff;
$moyo_violet_2: #6d63f2;
$moyo_violet_3: #675ee6;
$moyo_violet_4: #4a44a6;
$moyo_violet_5: #2e2a66;

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-text-size-adjust: none;
}

body {
  width: inherit;
  height: inherit;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

#googleMap > div {
  position: relative !important;
}

#googleMap > div > div {
  position: relative !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
