<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.moyo.MOYO.dto.Community" alias="community"/>
		<typeAlias type="com.moyo.MOYO.dto.CommunityComment" alias="communityComment"/>
		<typeAlias type="com.moyo.MOYO.dto.User" alias="user"/>
		<typeAlias type="com.moyo.MOYO.dto.AccompanyBoard" alias="accompanyBoard"/>
		<typeAlias type="com.moyo.MOYO.dto.ScheduleList" alias="scheduleList"/>
		<typeAlias type="com.moyo.MOYO.dto.DailyAccompany" alias="dailyAccompany"/>
		<typeAlias type="com.moyo.MOYO.dto.DailyMemo" alias="dailyMemo"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/communitymapper.xml" />
		<mapper resource="mapper/communitycommentmapper.xml"/>
		<mapper resource="mapper/usermapper.xml"/>
		<mapper resource="mapper/accompanyboardmapper.xml"/>
		<mapper resource="mapper/schedulelistmapper.xml"/>
		<mapper resource="mapper/dailyaccompanymapper.xml"/>
		<mapper resource="mapper/dailymemomapper.xml"/>
	</mappers>
</configuration>