<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyo.accompanyboardmapper">

	<sql id="sortingCondition">
		<choose>
			<when test="sortingCondition=='startDate'">
				order by start_date
			</when>
			<when test="sortingCondition=='endDate'">
				order by end_date
			</when>
			<otherwise>
				order by register_date
			</otherwise>
		</choose>
	</sql>

	<select id="selectOne" parameterType="int" resultType="accompanyBoard">
		select u.nickname nickname, ab.*, c.name city, na.name nation, tt.name type
		  FROM accompany_board ab
		  left outer join user u on ab.u_id = u.u_id
		  left outer join city c on ab.c_id = c.c_id
		  left outer join nation na on ab.n_id = na.n_id
		  left outer join travel_type tt on ab.t_type_id = tt.t_type_id 
		 where ac_board_id = #{acBoardId}
	</select>
	
	<select id="selectAll" parameterType="map" resultType="accompanyBoard">
		SELECT u.nickname, u.age, u.gender, u.image, ab.*, c.name city, na.name nation, tt.name type
		  FROM accompany_board ab
		  left outer join user u on ab.u_id = u.u_id
		  left outer join city c on ab.c_id = c.c_id
		  left outer join nation na on ab.n_id = na.n_id
		  left outer join travel_type tt on ab.t_type_id = tt.t_type_id
		 WHERE #{searchDate} between ab.start_date and ab.end_date
		   and #{nId} = ab.n_id
		   and (case when #{cId}=0 then 1=1
		             else #{cId}=ab.c_id end)
 		   and (case when ifNull(#{wantAge},0)=0 then 1=1
		             else ab.want_age in <foreach collection="#{wantAge}" item="value" open="(" close=")" separator=",">
					               					#{value}
				          				 </foreach> end)
		    and (case when ifNull(#{wantGender},"N")="N" then 1=1
		             else #{wantGender}=ab.want_gender end)
		   and (case when ifNull(#{tType},0)=0 then 1=1
		             else ab.t_type_id in <foreach collection="#{tType}" item="value" open="(" close=")" separator=",">
					               					#{value}
				          				 </foreach> end)
		   <if test="searchCondition!=null">
		   		and
				<if test="searchCondition=='title'">
					title like concat('%',#{searchWord}, '%')
				</if>
				<if test="searchCondition=='contents'">
					contents like concat('%',#{searchWord}, '%')
				</if>
				<if test="searchCondition=='all'">
					(title like concat('%',#{searchWord}, '%') or contents like concat('%',#{searchWord}, '%'))
				</if>
		  </if>
		  and deadline_toggle = 'n'
		   <include refid="sortingCondition"></include>		             
	</select>
	
	<insert id="createAccompanyBoard" parameterType="accompanyBoard" >
	    insert into
	    accompany_board (title, u_id, n_id, c_id, t_type_id, contents, start_date, end_date, want_age, want_gender, deadline_toggle, register_date, update_date)
	    values (#{title}, #{uId}, #{nId}, #{cId}, #{tTypeId}, #{contents}, #{startDate}, #{endDate}, #{wantAge}, #{wantGender}, #{deadlineToggle}, current_timestamp(), current_timestamp())
	</insert>
	
	<delete id="deleteAccompanyBoard" parameterType="int">
		delete from accompany_board where ac_board_id = #{acBoardId}
	</delete>
	
	<update id="updateAccompanyBoard" parameterType="accompanyBoard">
	    update accompany_board
	    set title = #{title}, n_id = #{nId}, c_id = #{cId}, t_type_id = #{tTypeId}, contents = #{contents}, start_date = #{startDate},
	    end_date = #{endDate}, want_age = #{wantAge}, want_gender = #{wantGender}, deadline_toggle = #{deadlineToggle}, update_date = current_timestamp()
	    where ac_board_id = #{acBoardId}
	</update>
	
<!-- 	<select id="selectFilter" resultType="accompanyBoard" parameterType="map">
		select * from accompany_board where
			<if test="age!=null">
				want_age in
				<foreach collection="age" item="val" open="(" close=")" separator=",">
					#{val.value}
				</foreach>
				or
			</if>
			<if test="gender!=null">
				want_gender = #{gender} or
			</if>
			<if test="ttypeid!=null">
				t_type_id = #{ttypeid} or
			</if>
		1 = 1 <include refid="sortingCondition" />
	</select>
	
	<select id="search" resultType="accompanyBoard" parameterType="map">
		select ab.* from accompany_board as ab
		<if test="key!='all'">
			<if test="key=='title'">
				where title like concat('%',#{word}, '%')
			</if>
			<if test="key=='contents'">
				where contents like concat('%',#{word}, '%')
			</if>
			<if test="key=='user'">
				join (select * from user where nickname like concat('%', #{word}, '%')) as u using(u_id)
			</if>
		</if>
		<include refid="sortingCondition" />
	</select> -->
</mapper>