<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyo.postmapmapper">

	<sql id="distance">
		( 6371 * acos( cos( radians( #{latitude} ) ) * cos( radians(latitude) )
          * cos( radians( longitude ) - radians( #{longitude}) )
          + sin( radians( #{latitude} ) ) * sin( radians( latitude ) ) ) ) AS distance
	</sql>
	
	<select id="selectAll" resultType="postmap" parameterType="map">
		  select post.*, count(pm_like_id) as likes , <include refid="distance" />
		  from postmap post
		  left outer join postmap_like like
		  				on post.pm_id = like.pm_id
		  group by post.pm_id
<![CDATA[ having distance <= 5	]]>
		  order by distance;
	</select>
	
	<select id="selectOne" resultType="postmap" parameterType="int">
		select post.* , count(pm_like_id) as likes
		from postmap post
		left join postmap_like using(pm_id)
		where pm_id = #{pmId}
	    group by post.pm_id
	</select>
	
	<insert id="insertPostmap" parameterType="postmap">
		insert into postmap(contents, latitude, longitude, register_id)
		values(#{contents}, #{latitude}, #{longitude}, #{registerId})
	</insert>
	
	<update id="updatePostmap" parameterType="postmap" >
		update postmap set contents = #{contents}, latitude = #{latitude}, longitude = #{longitude},
		register_id = #{registerId} where pm_id = #{pmId}
	</update>
	
	<delete id="deletePostmap" parameterType="int">
		delete from postmap where pm_id =  #{pmId}
	</delete>
	
	<delete id="checkDuration" parameterType="String">
		<![CDATA[
		delete from postmap where timestampdiff(QUARTER, #{today}, register_date ) <= 1;
		]]>
	</delete>
	
	<insert id="insertPostmapLike" parameterType="postmaplike">
		insert into postmap_like(u_id, pm_id) values(#{uId}, #{pmId}) 
	</insert> 
	
	<delete id="deletePostmapLike" parameterType="int">
		delete from postmap_like where pm_like_id =  #{pmLikeId}
	</delete>
	
	<select id="selectPostmapLike" parameterType="int">
		select count(*) from postmap_like where pm_id = #{pmId}
	</select>
	
</mapper>