<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moyo.schedulelistmapper">
	<select id="selectAll" resultType="scheduleList">
		select * from schedule_list
	</select>
	<select id="selectAllByUser" parameterType="int" resultType="scheduleList">
		select * from schedule_list
		where u_id = #{uId}
		order by start_date
	</select>
	<select id="selectOne" parameterType="int" resultType="scheduleList">
		select * from schedule_list
		where s_list_id = #{sListId}
	</select>
	<insert id="createScheduleList" parameterType="scheduleList">
		insert into 
		schedule_list (u_id, n_id, c_id, start_date, end_date, register_date, update_date)
		values (#{uId}, #{nId}, #{cId}, #{startDate}, #{endDate}, current_timestamp(), current_timestamp())
	</insert>
	<delete id="deleteScheduleList" parameterType="int">
		delete from schedule_list
		where s_list_id = #{sListId}
	</delete>
	<update id="updateScheduleList">
		update schedule_list
		set n_id = #{nId}, c_id = #{cId}, start_date = #{startDate}, end_date = #{endDate}, update_date = current_timestamp()
		where s_list_id = #{sListId}
	</update>
</mapper>